/*M E N U*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  /*content: "\f105";*/
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  display: block;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  #corpom{
  	margin: 0 !important;
  }
  .nav-side-menu{
  	height: auto;
  }
  button{
    width: 80% !important;
  }
  div.news h2{
    text-align: center !important;
  }
  div.news p{
    text-align: center !important; 
  }
  div.dadosfollow{
    padding-bottom: 15px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
  .radio-inline{
    display: block;
    margin-left: 0px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  div.dadosfollow{
    margin-bottom: 30px;
  }
}
@media (min-width:768px) and (max-width:991px){
  div.news h2{
    text-align: center !important
  }
  div.news p{
    text-align: center !important;
  }
  div.dadosfollow{
    padding-bottom: 15px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

/*S I T E*/
#corpom{
	margin-left: 300px;
  padding: 15px;
}
#cadastro{
	display: none;
	margin-top: 30px;
}
#corpo h1{
	font-family: 'Muli',sans-serif;
    font-size: 25px;
    text-align: center;
    /* margin-bottom: 30px; */
    margin-top: 10px;
    line-height: 50px;
}
#corpo img{
	margin-bottom: 30px;
}
h1.title{
  font-family: 'Muli',sans-serif;
  font-size: 25px;
  text-align: center;
  color: #0F2E5A;
  margin-top: 10px;
  line-height: 50px;
}
p.aniversariante{
  font-family: 'Muli',sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  margin-bottom: 20px;
}
p.aniversariante strong{
  display: block;
}
/*aniversariantes do mes*/
button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: normal !important;
  user-select: none;
  outline:none !important;
  width:30%;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

button:active {
  outline:none;
}

button.ribbon {  
  outline:none;
  outline-color: transparent;
}
button.ribbon:before, button.ribbon:after {
  top: 5px;
  z-index: -10;
}
button.ribbon:before {
  border-color: #53dab6 #53dab6 #53dab6 transparent;
  left: -25px;
  border-width: 17px;
}
button.ribbon:after {
  border-color: #53dab6 transparent #53dab6 #53dab6;
  right: -25px;
  border-width: 17px;
}

button:before, button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}
button.btn-info:before {
  border-color: #269abc #269abc #269abc transparent;
}
button.btn-info:after {
  border-color: #269abc transparent #269abc #269abc;
}
div.comunicados p{
  font-family: 'Muli',sans-serif;
  font-size: 14px;
  text-align: justify;
}
div.comunicados span{
  font-size: 14px;
}
div.comunicados h2{
  font-family: 'Muli',sans-serif;
  font-size: 20px;
  text-align: left;
  color: #0F2E5A;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bolder;
}
div.comunicados{
  margin-bottom: 30px;
}
div.news{
  min-height: 200px;
  margin-bottom: 30px;
}
div.news p{
  font-family: 'Muli',sans-serif;
  font-size: 14px;
  text-align: justify;
}
div.news h2{
  font-family: 'Muli',sans-serif;
  font-size: 20px;
  text-align: left;
  color: #0F2E5A;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bolder;
}
div#corpom .col-md-6 h1{
  font-family: 'Muli',sans-serif;
  font-size: 25px;
  text-align: center;
  color: #0F2E5A;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
}
li.list-group-item{
  font-family: 'Muli',sans-serif;
  font-size: 14px;
  text-align: justify;
}
label.followup{
  display: block;
}
div.followup{
  padding-bottom: 15px;
  border-bottom: 1px solid;
}
p{
  font-family: 'Muli',sans-serif;
  font-size: 15px;
}
.form-horizontal .control-label{
  text-align: left;
}
.btn-ouvidoria{
  margin-left: 15px;
}
div.ranking p{
  font-size: 23px;
  text-align: center;
}
div.ranking img{
  margin-bottom: 20px;
}
div.ranking p.title{
  color: #0C96CD;
  font-weight: bold;
  margin-bottom: 5px;
}
div.ranking p.ranking{
  background: #0C96CD;
  color: #FFF;
  border-radius: 5px;
  text-transform: uppercase;
  line-height: 37px;
  margin-bottom: 15px;
}
.mesref{
  padding-bottom: 20px;
  border-bottom: 1px solid #0C96CD;
  margin-bottom: 20px;
}
div.vif p.title{
  color: #4B4F58;
}
div.vif p.ranking{
  background: #4B4F58;
  color: #D0DC4C;
}
div.vif .mesref{
  border-bottom: 1px solid #D0DC4C;
} 
a.vif{
  margin-bottom: 20px;
}